extends layout

block content
    form(method='post')
        div(class='form-group')
            label(for='id') id:
            input(name='id', class='form-control',type='number',required)
        div(class='form-group')
            label(for='profesor') Profesor:
            select(name='profesor', class='form-control')
                each profesor in profesores
                    option(value='#{profesor._id}') #{profesor. apellido}
        div(class='form-group')
            label(for='asignatura') Asignatura:
            select(name='asignatura', class='form-control')
                each asignatura in asignaturas
                    option(value='#{asignatura._id}') #{asignatura.nombre}
        div(class='form-group')
           label(for='horas') horas:
           input(name='horas', class='form-control', type='text', required)     
        div(class='form-group')
            label(for='fecha_inicio') Fecha de Inicio:
            input(name='fecha_inicio', id='fechaInicio', class='form-control',type='text' onclick="mostrarCalendarioInicio()" required)
        div(class='form-group')
            label(for='fecha_fin') Fecha fin:
            input(name='fecha_fin', id='fechaFin', class='form-control',type='text' onclick="mostrarCalendarioFin()" required)
        
        div(class='form-group')
            button(type="submit") Enviar